# do not commit signatures
signature-client.png
signature-heidi.jpg
signature-taylor.png
signature-xiaomei.png

# ignore temporary files
*~
*.aux
*.toc
*.out
*.nav
*.snm
*.vrb

# ignore local directories
*-overleaf/

# ignore backups
*.bak

# ignore archives
*.zip
